{% extends 'base.html' %}
{% block style %}
	rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
{% endblock %}
{% block header %}
  <h1>{% block title %}Assets Table{% endblock %}</h1>
{% endblock %}

{% block content %}


<h3>
	<div style="text-align: left;">
		<a href="{{ url_for('asset.asset_new') }}">Enter New asset</a>
		&nbsp &nbsp
	</div>
</h3>

<form method="POST" action="/action" enctype="multiasset/form-data">
  <table>
    <tr>
    <td> <label for="asset_id">asset ID:</label> </td>
    <td> <input type="text" id="asset_id" name="asset_id" required autofocus></td>
    <td>  <label for="asset_action">asset Action:</label> </td>
    <td> <select id="asset_action" name="asset_action" selected="None">
          <option value="None">None</option>
          <option value="Recieved">Recieved</option>
          <option value="Shipped">Shipped</option>
          <option value="Cleaned">Cleaned</option>
          <option value="Out for a beer">Out for a beer</option>
        </select>
    </td>
    <td>
      OR
    </td>
    <td> <label for="action_id">Action ID:</label> </td>
    <td>
      <input type="text" id="action_id" name="action_id">
    </td>
        </tr>
</table>
<table>
    <tr>
      <td> <input type="submit" name="submit" value="Find Asset"></td>
      <td> <input type="submit" name="submit" value="Perform Action"></td>
    </tr>
</table>
</form>
{% endblock %}
